
/*:root {

	--blue: #00607F;
	--fullwidth: 20%;
	--padding: 8px 8px 8px 8px;
	--lft: left;
}
*/

body{

    font-family: Arial, Helvetica, sans-serif;
    /*background-color: #99ffeb;  light aqua*/
    margin: auto;
    min-width: 500px;
    max-width: 1000px;
     background-image: url(images/blue-number-background.jpg);
       -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
#wrapper{
    background-color: lightyellow;
    padding: 10px 10px 10px 10px;
}

#heading{
    text-align: center;
    border: solid black 2px;
}
#nav{
    
    height: 2em; 
    text-align: center;
  
}

.content{
    
    padding: 8px 8px 8px 8px;
}
.button{
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

input {
  /*  align: middle; */
    border: none;
    border-radius: 8px;
    padding: 10px;
    clear:  right;
}

lable{
    display: inline-block;
  
}
#login {
   width:400px; 
   border: solid black 1px;
   padding: 1em 1em 1em 1em;
}

footer {
    text-align: center;
   
}

